* {
    box-sizing: border-box;
    font-family: Raleway;
    color: #777;
}

html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;}

.logo {
    background-blend-mode: multiply;
    background-size: cover;
    padding-left: 270px;

}
.arama-motoru{
    margin-left: 670px;
    margin-top: -100px;
}
.text-tasarim{
    width: 400px;
    height: 35px;
    border-radius: 4px;
    border: 1px solid #FFA500;
    outline: none;
}
.ara-buton{
    width: 70px;
    height: 35px;
    border-radius: 4px;
    border: 1px solid #FFA500;
    outline: none;
    cursor: pointer;
    margin-left: -5px;
    background-color: #FFA500;
    color: #fff;
}
.hesaplogo{
    position: relative;
    top: 5px;
    float: right;
    padding-right: 75px;
}
.sepetlogo{
    position: relative;
    top: 0px;
    float: right;
    padding-right: 75px;
}
.kullanıcı{
    position: relative;
    top: -50px;
    z-index: 2;
    float: right;
    left: 55px;
}
#hesap{
    height: 55px;
background: #fff;
}
#hesap >ul{
    padding: 0 50px;
}
#hesap >ul >li{
    list-style: none;
    position: relative;
    float: left;
}
#hesap >ul>li>a{
    text-decoration: none;
display: block;
line-height: 55px;
padding: 0 15px;
font-size: 12px;
color: rgba(0,0,0,0.75);
font-weight: 300;
opacity: 0.80;
text-transform: uppercase;
}
#hesap > ul > li > a:hover {
    color:orange;}
    #hesap >ul >li >ul{
        position: absolute;
        width: 100px;
        top: 40px;
        padding: 6px 0;
        transition:all 500ms;
        opacity: 0;
        visibility: hidden;
        border-radius: 4px;
        border-bottom: 1px solid #e0e0e0;
        background: #fff;}
        #hesap > ul > li > ul > li{
            list-style: none;}
            
            #hesap >ul > li > ul > li > a {
            text-decoration: none;
            padding: 6px 12px;
            color:#333;
            display: block;
            font-size: 12px; }
            
            #hesap >ul > li > ul > li > a:hover {
             color:orange;}
            #hesap >ul>li:hover>ul{
            opacity: 1;
            top: 35px;
            visibility: visible;}


            .sepetim{
                position: relative;
                top: -50px;
                float: right;
                padding-right: 400px;
               
            }
            #sepet{
                height: 55px;
                background: #fff;
            }
            #sepet >ul{
                padding: 0 50px;
            }
            #sepet >ul >li{
                list-style: none;
                position: relative;
                float: left;
            }
            #sepet >ul>li>a{
                text-decoration: none;
            display: block;
            line-height: 55px;
            padding: 0 15px;
            font-size: 12px;
            color: rgba(0,0,0,0.75);
            font-weight: 300;
            opacity: 0.80;
            text-transform: uppercase;
            }
            #sepet > ul > li > a:hover {
                color:orange;}
                #sepet >ul >li >ul{
                    position: absolute;
                    width: 100px;
                    top: 40px;
                    padding: 6px 0;
                    transition:all 500ms;
                    opacity: 0;
                    visibility: hidden;
                    border-radius: 4px;
                    border-bottom: 1px solid #e0e0e0;
                    background: #fff;}
                    #sepet > ul > li > ul > li{
                        list-style: none;}
                        
                        #sepet >ul > li > ul > li > a {
                        text-decoration: none;
                        padding: 6px 12px;
                        color:#333;
                        display: block;
                        font-size: 12px; }
                        
                        #sepet >ul > li > ul > li > a:hover {
                         color:orange;}
                        #sepet >ul>li:hover>ul{
                        opacity: 1;
                        top: 35px;
                        visibility: visible;}
            
            
           
.menuler{
    position: relative;
    top: 40px;
    z-index: 1;
    padding-left: 155px;
}
#menu{                                             /*açılır kapanır menüler oluşturduk*/
height: 55px;
width: 100%;
background: #fff;
border-bottom: 1px solid #e0e0e0;}

#menu >ul {
padding: 0 500px;}

#menu > ul >li {
list-style: none;
position: relative;
float: left;}

#menu > ul >li > a {
text-decoration: none;
display: block;
line-height: 55px;
padding: 0 15px;
font-size: 12px;
color: rgba(0,0,0,0.75);
font-weight: 300;
opacity: 0.80;
text-transform: uppercase;}

#menu > ul > li > a:hover {
color:orange;}

#menu >ul >li >ul{
position: absolute;
width: 100px;
top: 40px;
padding: 6px 0;
transition:all 500ms;
opacity: 0;
visibility: hidden;
border-radius: 4px;
border-bottom: 1px solid #e0e0e0;
background: #fff;}

#menu > ul > li > ul > li{
list-style: none;}

#menu >ul > li > ul > li > a {
text-decoration: none;
padding: 6px 12px;
color:#333;
display: block;
font-size: 12px; }

#menu >ul > li > ul > li > a:hover {
 color:orange;}
#menu >ul>li:hover>ul{
opacity: 1;
top: 65px;
visibility: visible;}

.ürün{
    position: relative;
    top: 120px;
    padding-left: 380px;
    padding-right: 580px;

}